<ul :class="@wrapper" class="koumei-layout-doc-menu">
        <!-- <li class="navtab-item">
            <a href="#/zh-CN/guide" class="">指南</a>
        </li>
        <li class="navtab-item">
            <a href="#/zh-CN/component" class="active">组件</a>
        </li>
        <li class="navtab-item">
            <a href="#/zh-CN/resource" class="">资源</a>
        </li> -->
        <li :for="item in menu" class="item">
            <!-- <a :click="handleClick(item, item.key, [item.key])"  class="">{{item.title}}</a> -->
            <a :click="handleClick(item, item.key, [item.key])" :class="@selectedKeys.contains(item.key) ? 'active' : ''">{{item.title}}</a>
        </li>
        <li class="item">
            <span class="lang active">中文</span>
            <span> / </span>
            <span class="lang">En</span>
        </li>
    </ul>