@import '../../../styles/index';


@layout-doc-prefix-cls: ~"@{koumei-prefix}-layout-doc-header";
@layout-doc-body-width:1170px;
@layout-doc-header-bg: #20a0ff;
@layout-doc-header-height: 80;



.@{layout-doc-prefix-cls} {
    height: @layout-doc-header-height;
    background: @layout-doc-header-bg;
    line-height: 80px;
    color: #fff;

    .logo {
        width: @layout-doc-body-width;
        margin-right: auto;
        margin-left: auto;
        padding-right: 15px;
        padding-left: 15px;
    }

    .logo-img{
        height: 33px;
        width: 256px;
        background:url(./img/jd256.png) no-repeat;
        background-size: auto 33px;
    }

    .logo h1 {
        margin: 0;
        float: left;
        font-size: 32px;
        font-weight: 400;
        line-height: 80px;
    }
    
    &.header .logo h1 a {
        color: #fff;
        text-decoration: none;
        display: block;
    }
    
    .logoimg-small, .logoimg {
        vertical-align: sub;
    }
}