<div>
    <xmp is="ts-form" :widget="{$form: @$form}">
        <ts-form-item :widget="{label:'想看的动漫'}">
            <ts-select :widget="{col:'comic',showSearch:true,mode:'multiple'}">
                <ts-select-option :widget="{value:'onepiece'}">海贼王</ts-select-option>
                <ts-select-option :widget="{value:'conna'}">名侦探柯南</ts-select-option>
                <ts-select-option :widget="{value:'titan'}">进击的巨人</ts-select-option>
                <ts-select-option :widget="{value:'disabled', disabled:true}">禁用</ts-select-option>
                <ts-select-option :widget="{value:'onepunchman'}">一拳超人</ts-select-option>
            </ts-select>
        </ts-form-item>
    </xmp>
    <pre>{{@json}}</pre>
</div>