<ms-layout-doc-header  :widget="{fixed:true}">
    <div class="logo">
        <h1>
            <a href="#/zh-CN">
                <img src="assets/img/jd256.png" alt="jd-logo" class="logoimg"/>
            </a>
        </h1>
        <ul :class="@wrapper" class="menu">
            <li :for="($index, item) in menu" class="item">
                <a :click="handleClick(item, item.key, [item.key], $index)" :class="@selectedKeys.contains(item.key) ? 'active' : ''">{{item.title}}</a>
            </li>
            <li class="item">
                <span class="lang" :class="{'active':@locale=='zh-CN'}" :click="localClick('zh-CN')">中文</span>
                <span> / </span>
                <span class="lang" :class="{'active':@locale=='en-US'}" :click="localClick('en-US')">En</span>
            </li>
        </ul>
    </div>
</ms-layout-doc-header>